.card-img img {
  height: 400px;
}

th{
  padding:1rem .5rem !important;
  font-size: .875rem;
  margin-bottom: 1rem !important;
  background-color: white !important;
  font-weight: 600 !important;
}

tr , td{
  text-align: left;
}





