<!-- Shop Detail Start -->
<section class="container py-5">
  <div class="row d-flex justify-content-evenly" *ngIf="productOfId">
    <!-- //image of product -->
    <div class="col-lg-4 col-md-6 my-3">
        <div class="card">
          <div class="card-img">
            <img class="img-fluid" [src]="'../../assets/images/product/' + productOfId.image + '.jpg'" alt={{productOfId.name}}>
          </div>
        </div>
    </div>
    <!-- //details of product -->
    <div class="col-lg-4 col-md-6 my-3 ms-2">
      <h3 class="font-weight-semi-bold"> {{productOfId.name}} </h3>
      <!-- //rating of product -->
      <div class="d-flex mb-4">
        <div class="text-primary mr-2">
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star"></small>
          <small class="fas fa-star-half-alt"></small>
          <small class="far fa-star"></small>
        </div>
        <small class="pt-1" *ngIf="reviewOfId"> {{reviewOfId.data.length}}</small>
        <small class="pt-1"> (Reviews)</small>
      </div>
      <h3 class="font-weight-semi-bold mb-1"> {{productOfId.categoryName}}</h3>
      <p class="mb-4">{{productOfId.description}}</p>
      <!-- //sizes of product -->
      <div class="d-flex mb-3">
        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
        <form>
          <div class="custom-control custom-radio custom-control-inline" *ngFor="let size of productOfId.sizes">
            <input type="radio" class="custom-control-input" id="size-1" name="size">
            <label class="custom-control-label" for="size-1">{{size.name}}</label>
          </div>
        </form>
      </div>
      <!-- //colors of product -->
      <div class="d-flex mb-5">
        <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
        <form>
          <div class="custom-control custom-radio custom-control-inline"  *ngFor="let color of productOfId.colors">
            <input type="radio" class="custom-control-input" id="color-1" name="color">
            <label class="custom-control-label" for="color-1">{{color.name}}</label>
          </div>
        </form>
      </div>
      <!-- Click to add to Cart  -->
      <div class="d-flex mb-5">
        <a class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</a>
      </div>
    </div>
    <!-- Review about this product  -->
    <div class="col-lg-4 col-md-12 my-3">
      <table id="mytable" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr class="header-row">
            <th>Client Reviews</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ahmed Ali</td>
          </tr>
          <tr>
            <td>Description</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
<!-- Shop Detail End -->
