<div id="header-carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item" *ngFor="let image of carouselImages; let i = index" [class.active]="i === currentIndex"
    style="height: 410px;">
    <img class="img-fluid" [src]="image" alt="Image">
    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
      <!-- Your carousel caption content -->
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#" (click)="prevImage()">
  <div class="btn btn-dark" style="width: 45px; height: 45px;">
    <span class="carousel-control-prev-icon mb-n2"></span>
  </div>
</a>
<a class="carousel-control-next" href="#" (click)="nextImage()">
  <div class="btn btn-dark" style="width: 45px; height: 45px;">
    <span class="carousel-control-next-icon mb-n2"></span>
  </div>
</a>
</div>
