/* ----- form ---- */
.box-area {
  width: 90%;
}

.left-box p {
  color: #bc9a7d;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Righteous", cursive;
}

.left-box small {
  color: #bc9a7d;
  width: 17rem;
  font-family: "Courier New", Courier, monospace;
}

.right-box h1 {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Righteous", cursive;
  color: #28576f;
}

.right-box h5 {
  color: #8ba6b2;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Righteous", cursive;
}

.right-box small {
  color: black;
  width: 37rem;
  font-family: "Courier New", Courier, monospace;
}

input:focus,
button:focus {
  border: 2px solid #bc9a7d;
  box-shadow: none;
  box-shadow: -1px 1px 20px -11px #faba99;
}

.form-check-input:checked {
  background-color: #bc9a7d;
  border-color: #bc9a7d;
}

.right-box button {
  background-color: #28576f;
  color: #def0f1;
}
.right-box button:hover {
  background-color: #bc9a7d;
  color: #def0f1;
}

.right-box a {
  color: #28576f;
}
