<div class="custom-scrollbar-container">
<app-top-bar></app-top-bar>
<app-nav></app-nav>
<!-- <app-header></app-header> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <app-contact-us></app-contact-us> -->
<!-- <app-log-in></app-log-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-shop></app-shop> -->

<!-- <app-featured></app-featured> -->
<!-- <app-categories></app-categories> -->
<!-- <app-offer></app-offer> -->
<!-- <app-products></app-products> -->
<!-- <app-subscribe></app-subscribe> -->
<!-- <app-vendor></app-vendor> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>


